<div class="md-inline-form">
    <div layout="column" layout-gt-xs="row" flex>
        <md-input-container flex="100" flex-gt-xs="15">
            <md-checkbox ng-click="vm.verticalStepper.step6.retailer = false" ng-click="vm.toggleCheck()" aria-label="Checkbox 1" ng-model="vm.verticalStepper.step6.manufacturer">
                Creater
            </md-checkbox>
        </md-input-container>

        <md-input-container flex="100" flex-gt-xs="15">
            <md-checkbox ng-click="vm.verticalStepper.step6.manufacturer = false" aria-label="Checkbox 1" ng-model="vm.verticalStepper.step6.retailer">
                Retail
            </md-checkbox>
        </md-input-container>
    </div>
</div>